header
	section
		.container
			.header__wrapper

				.header__top
					.header__logo
						img(src="images/svg/logo.svg" alt="")
					nav.header__nav
						ul
							li
								a(href="#services") Услуги
							li
								a(href="#reviews") Отзывы / Клиенты
							li
								a(href="#about") Команда / О студии
							li
								a(href="#work") Как мы работаем
							li
								a(href="#price") Цены

						.header__burger
							span
							span
							span
				ul.header__mobile-menu
					li
						a(href="#services") Услуги
					li
						a(href="#reviews") Отзывы / Клиенты
					li
						a(href="#about") Команда / О студии
					li
						a(href="#work") Как мы работаем
					li
						a(href="#price") Цены


			.header__content.container
				h1 Фото и видео<br> для бизнеса
				a.main-button Заказать звонок