header {
	background-color: #000000;
	background-image: url("../images/banner.jpg");
	background-size: cover;
}

.header__wrapper {
	position: relative;
	height: 100vh;
}

.header__top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 15px;
	background-color: rgba(9, 27, 66, 0.3);
}

.header__logo {
	flex: 0 1 238px;
	margin-right: 50px;
	@media (max-width: 768px) {
		flex: 0 1 150px;
	}
}

.header__nav {
	ul {
		display: flex;
		a {
			color: #ffffff;
			font-family: $font-mont;
			font-size: 16px;
			text-decoration: none;
			padding: 0 15px;
			white-space: nowrap;
			&:hover {
				color: #ff8f00;
				transition: 0.3s;
			}
		}
		@media (max-width: 768px) {
			display: none;
		}
	}
}

.header__content {
	position: absolute;
	top: 50%;
	left: 0;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
	h1 {
		font-size: 28px;
		font-family: $font-base;
		font-weight: 600;
		color: #ffffff;
		margin-bottom: 50px;
		@media (max-width: 480px) {
			text-align: center;
		}
	}
	.main-button {
		font-family: $font-mont;
		background: #ff8f00;
		font-size: 16px;
		padding: 0 50px;
		font-weight: 500;
		color: #000000;
		line-height: 55px;
		height: 55px;
		align-self: flex-start;
		cursor: pointer;
		@media (max-width: 480px) {
			margin: 0 auto;
		}
	}
}

.header__burger {
	position: relative;
	height: 20px;
	width: 25px;
	display: none;
	top: 0;
	span {
		height: 2px;
		width: 100%;
		background-color: #ff8f00;
		position: absolute;
		transition: all 0.3s;
		&:first-child {
			top: 0;
		}
		&:last-child {
			bottom: 0;
		}
		&:nth-child(2) {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&.active {
		span {
			&:first-child {
				transform: rotate(45deg);
				top: 50%;
				transition: all 0.3s;
			}
			&:last-child {
				transform: rotate(-45deg);
				top: 50%;
				transition: all 0.3s;
			}
			&:nth-child(2) {
				display: none;
			}
		}
	}
	@media (max-width: 768px) {
		display: block;
	}
}

.header__mobile-menu {
	position: relative;
	top: -100%;
	transition: all 0.3s;

	&.active {
		top: 0;
		transition: all 0.3s;
	}
	li {
		text-align: center;
		line-height: 2;
		border-bottom: 1px solid #ff8f00;
		&:hover {
			background-color: rgba(9, 27, 66, 0.3);
			a {
				color: #ff8f00;
			}
		}
	}
	a {
		display: block;
		color: #ffffff;
		text-decoration: none;
	}
}
