.price {
	padding: 50px 0;
	background-color: #091b42;
	@media (max-width: 768px) {
		padding: 40px 0;
	}
}

.price__wrapper {
	display: flex;
	justify-content: space-between;
	.price__col {
		&:nth-child(1) {
			flex: 0 1 470px;
			.price__text {
				font-family: $font-mont;
				margin-bottom: 25px;
				color: #ffffff;
				font-size: 16px;
				line-height: 1.5;
				@media (max-width: 768px) {
					font-size: 14px;
				}
			}
			@media (max-width: 768px) {
				flex: auto;
			}
		}
		&:nth-child(2) {
			flex: 0 1 460px;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}

.price__list {
	li.item {
		font-family: $font-mont;
		font-size: 16px;
		color: #ffffff;
		padding-left: 30px;
		position: relative;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			width: 19px;
			height: 2px;
			background-color: #ff8f00;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		@media (max-width: 768px) {
			font-size: 14px;
		}
	}
}

.price__form {
	display: flex;
	flex-direction: column;
	input {
		line-height: 55px;
		margin-bottom: 40px;
		font-size: 16px;
		color: #000000;
		padding: 0 10px;
	}
	.form__label {
		font-size: 12px;
		color: #ffffff;
		margin-bottom: 20px;
	}
	.main-button {
		font-family: $font-mont;
		background: #ff8f00;
		font-size: 16px;
		padding: 0 50px;
		font-weight: 500;
		color: #000;
		line-height: 55px;
		height: 55px;
		align-self: flex-start;
		cursor: pointer;
	}
}
