.reviews {
	padding: 50px 0;
	@media(max-width: 768px) {
		padding: 40px 0;
	}
}

.reviews__list {
	padding: 0 50px;
	li.item {
		border: 2px solid #091b42;
		padding: 50px 30px;
		// display: flex;
	}
	.reviews__col {
		&--picture {
			// flex: 1 0 218px;
			margin-right: 40px;
			float: left;
		}
	}
	.reviews__text {
		p {
			font-family: $font-mont;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			color: #000000;
			margin-bottom: 25px;
			@media(max-width: 768px) {
				font-size: 14px;
			}
		}
	}
	.reviews__link {
		font-size: 16px;
		font-weight: 500;
		color: #ff8f00;
		padding-right: 40px;
		background-image: url("../images/double-arrow.png");
		background-position: right center;
		background-repeat: no-repeat;
	}
	.slick-prev {
		background-image: url("../images/slide-prev.png");
		background-size: cover;
		width: 30px;
		height: 30px;
		left: 0;
		&:before {
			display: none;
		}
	}
	.slick-next {
		background-image: url("../images/slide-next.png");
		background-size: cover;
		width: 30px;
		height: 30px;
		right: 0;
		&:before {
			display: none;
		}
	}
}
